:root {
  --light-color-first: #ffffff;
  --light-color-second: #f7f7f7;
  --accent-color: #ff6c00;
  --accent-color-hover: rgba(239, 109, 56, 0.8);
  --medium-color: #9da4bd;
  --medium-color-second: #555555;
  --dark-color: #303030;
  --contact-section-color: #191c26;

  --font-family: "Open Sans", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--light-color-first);
  color: var(--medium-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.02em;
}

img {
  display: block;

  /* тимчасові стилі */
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  /* перевірити довжину!! довжина по макету + два падінгі по 15px */
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.h-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.current-active {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.current-active::after {
  content: "";
  position: absolute;
  display: inline-block;
  /* bottom: -12px; */
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}
/* -------------------- HEADER ------------------- */

header {
  position: absolute;
  padding-top: 40px;
  /* padding-bottom: 92px; */
  /* нижі паддінги не працюють, задала hero-content від самого верху */
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 31px;
  padding-right: 31px;
}

.logo {
  width: 68px;
  height: 56px;
}

.logo svg,
.btn-menu-burger svg {
  width: 100%;
  height: 100%;
  fill: var(--light-color-first);
}

body.mobile-menu-open {
  overflow: hidden;
}
/* стиль використовується через js */

.mobile-btn-close svg {
  width: 100%;
  height: 100%;
  fill: var(--dark-color);
}

.logo:is(:hover, :focus) svg,
.btn-menu-burger:is(:hover, :focus) svg,
.mobile-btn-close:is(:hover, :focus) svg {
  fill: var(--accent-color);

  transition: fill 250ms ease-in-out;
}

.paddings-for-a:is(:hover, :focus),
/* .list.media:is(:hover, :focus), */
.aside-media-item:is(:hover, :focus),
.contacts li:is(:hover, :focus),
footer .link:is(:hover, :focus) {
  color: var(--accent-color);

  transition: color 250ms ease-in-out;
}

.btn-menu-burger,
.mobile-btn-close {
  max-width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.nav-menu {
  display: none;
}

.mobile-menu-container {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
  padding-top: 48px;
  padding-right: 31px;
  padding-left: 40px;
  background-color: var(--light-color-first);
  color: var(--dark-color);
}

.mobile-menu .mobile-btn-close {
  align-self: flex-end;
  margin-bottom: 28px;
}

.mobile-menu-first {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;

  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.paddings-for-a:is(:hover, :focus) {
  color: var(--accent-color);

  transition: color 250ms ease-in-out;
}

.mobile-menu-second {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-bottom: 69px;

  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.btn {
  display: inline-block;
  min-width: 160px;
  height: 40px;
  padding: 11px 19px;
  /* border: 1px solid transparent; */
  /* потрібно для універсалізації усіх кнопок, потім переназначати колір */
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: inherit;
  box-shadow: inherit 0px 7px 29px 0px;

  color: inherit;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;

  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.mobile-menu-button {
  min-width: 194px;
  padding: 12px 37px;
  border: 1px solid var(--accent-color);
}

.btn:is(:hover, :focus) {
  background-color: var(--accent-color-hover);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 6px 8px 0px;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.mobile-aside-menu {
  position: relative;
  padding-left: 100px;

  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2em;
}

.mobile-aside-menu:before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  display: block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.mobile-aside-media {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* -------------------- HERO ------------------- */

.hero {
  display: flex;
  width: 100%;
  height: 580px;
}

.hero-container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
/* щоб фонова картинка була від самого краю */

.aside-menu {
  display: none;
}

.hero-overlay {
  max-width: 1070px;
  /* max-height: 680px; */
  margin-left: auto;
  margin-right: auto;
  background-color: var(--medium-color);
  background-image: linear-gradient(
      to right,
      rgba(25, 28, 38, 0.2),
      rgba(25, 2, 38, 0.2)
    ),
    url(/img/hero-bg-small_1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* -------------------- MEDIA FOR HERO-BACKGROUND ------------------- */

@media (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .hero-overlay {
    background-image: url(/img/hero-bg-small_2x.webp);
  }
}

@media (min-width: 480px) {
  .hero-overlay {
    background-image: url(/img/hero-bg-medium_1x.webp);
  }

  @media (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    .hero-overlay {
      background-image: url(/img/hero-bg-medium_2x.webp);
    }
  }
}

@media (min-width: 768px) {
  .hero-overlay {
    background-image: url(/img/hero-bg-big_1x.webp);
  }

  @media (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    .hero-overlay {
      background-image: url(/img/hero-bg-big_2x.webp);
    }
  }
}

/* -------------------- MEDIA FOR HERO-BACKGROUND-END ------------------- */

.hero-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 208px;
  padding-bottom: 209px;
  padding-left: 31px;
}

.hero h1 {
  margin-bottom: 20px;

  font-style: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--light-color-first);
}

/* -------------------- SUBTITLE ------------------- */
.subtitle {
  display: flex;
  z-index: 0;
  align-items: center;
  padding-bottom: 20px;
  gap: 20px;
  text-transform: uppercase;

  font-weight: 600;
  font-size: 11px;
}

.hide-subtitle-with-z-ind {
  z-index: -1;
}

.aside-media:before,
.subtitle::before,
footer .list:before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
/* -------------------- /SUBTITLE ------------------- */
/* -------------------- HERO ------------------- */

.hero h2,
.services-and-prices h3 {
  opacity: 0.6;
}

.advantages h4,
.our-barbers h4,
.contacts .city-street,
.working-hours p {
  font-size: 18px;
  line-height: 1.66;
}

.hero h3 {
  padding-bottom: 208px;
  font-size: 16px;
  line-height: 1.66;
  font-weight: 400px;
}

/* -------------------- ABOUT ------------------- */

.about,
.services-and-prices,
.advantages,
.our-barbers,
.photos {
  padding-top: 84px;
  padding-bottom: 84px;
}

.about h2 {
  max-width: 306px;
}

.about h3 {
  font-family: var(--second-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.about h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.02em;
}

.div-flex {
  display: flex;
}

.about-photo {
  display: none;
}

.about h2,
.about h3,
.advantages h2,
.advantages h3,
.our-barbers h2,
.our-barbers h3,
.our-barbers h4,
.photos h3 {
  color: var(--dark-color);
}

.advantages h3,
.our-barbers h2,
.online-booking h2,
.contacts h2 {
  font-family: var(--second-family);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.about h4,
.about p,
.advantages h4 {
  color: var(--medium-color-second);
}

.about h3,
.about h4 {
  margin-bottom: 20px;
}

.about p {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
}

.about .btn {
  color: var(--dark-color);
}

/* -------------------- SERVICES-AND-PRICES ------------------- */

.services-and-prices-overlay {
  max-width: 1600px;
  /* max-height: 692px; */
  margin-left: auto;
  margin-right: auto;
  background-color: #111319;
  background-image: url(/img/servises-and-prices-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-and-prices h2 {
  font-family: var(--second-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.services-and-prices h2,
.services-and-prices .btn,
.online-booking h2,
.contacts h2,
.working-hours .subtitle {
  color: var(--light-color-first);
}

.services-and-prices p {
  font-size: 14px;
  /* line-height: 1.66; */
}

.services-and-prices .h-reverse,
.our-barbers h2 {
  margin-bottom: 44px;
}

.services-and-prices-pricelist {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
  padding: 30px 30px 10px 30px;
  /* враховуючи марджін нижнього рядка 10 */
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-and-prices .line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.services-and-prices-for-after {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: baseline;
}
/* варто задавати псевдоелемент не на рядок на на div, тоді не буде дублюватися. але доведеться міняти позиціонування. +order */

.services-and-prices-for-after::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: currentColor;
  opacity: 12%;
}

.services-and-prices .btn {
  display: block;
  margin: 0 auto;
}

/* -------------------- ADVANTAGES ------------------- */

.advantages .div-flex {
  flex-direction: column-reverse;
  gap: 44px;
}

.advantages .list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  gap: 30px;
}

.advantages li {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 34px;
  padding-right: 34px;
  width: 193px;
  height: 133px;
  gap: 6px;
  background: var(--light-color-second);
}

.advantages p {
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  color: var(--dark-color);
}

.advantages p span {
  font-size: 42px;
  font-weight: 700;
  color: var(--dark-color);
}

.advantages .for-plus-in-after {
  position: relative;
  z-index: 100;
  /* display: flex;
  justify-content: center;  - треба було якби не position*/
}

.advantages .for-plus-in-after::after {
  content: "+";
  position: absolute;
  top: 7px;
  align-self: flex-start;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  color: var(--accent-color);
}

.advantages .h-reverse {
  max-width: 418px;
}

.advantages h3 {
  max-width: 430px;
}

.advantages h4 {
  max-width: 418px;
  font-weight: 400;
}

.advantages .h-no-reverse {
  margin-bottom: 20px;
}

/* -------------------- OUR-BARBERS ------------------- */

.our-barbers {
  background-color: var(--light-color-second);
}

/* .our-barbers .container {
  max-width: 418px;
} */

.our-barbers p {
  color: var(--accent-color);
}

.our-barbers .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

.our-barbers .card {
  width: 100%;
}

.our-barbers .card-thumb {
  position: relative;
  margin-bottom: 30px;
  overflow-y: hidden;
  cursor: pointer;
}

.our-barbers img {
  max-width: 100%;
  height: 346px;
  object-fit: cover;
}

.our-barbers .thumb-text {
  position: absolute;
  top: 0;
  display: block;

  max-width: 100%;
  height: 100%;
  padding: 45px;
  overflow-y: auto;
  color: var(--light-color-second);
  font-size: 18px;
  text-shadow: 1px 1px 4px var(--dark-color);
  background-color: rgba(239, 109, 56, 0.8);

  transform: translateY(-100%);

  transition: transform 250ms ease-in-out 1000ms;
}

.card-thumb:is(:hover, :focus) .thumb-text {
  transform: translateY(0);
}

.our-barbers .card-info {
  text-align: center;
}

.our-barbers .card-info h4 {
  margin-bottom: 8px;
}

.our-barbers .card-info p {
  margin-bottom: 30px;
}

.our-barbers .card-info .list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.our-barbers .card-media {
  width: 44px;
  height: 44px;
  background-color: var(--light-color-second);
  border-radius: 50%;
}

.our-barbers .card-media-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--dark-color);
}

.our-barbers .card-media-item svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.our-barbers .card-media-item:is(:hover, :focus) {
  cursor: pointer;
  color: var(--accent-color);

  transition: fill 250ms ease-in-out;
}

/* -------------------- PHOTO-GALLERY ------------------- */

.photos .subtitle {
  margin-bottom: 71px;
}

.photos-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.photos-gallery li {
  width: 100%;
}

.photos-gallery li:nth-child(n + 5) {
  transform: scaleX(-1);
}

/* -------------------- PREFOOTER-SECTION ------------------- */

.prefooter-section {
  max-width: 1600;
  margin: 0 auto;
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: var(--contact-section-color);
  background-image: url(/img/contacts-bg.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100% 46%;
  font-size: 18px;
  line-height: 1.66;
}
/* фон не задати на окрему секцію, оскільки контейнер вже задає відступи */

.prefooter-section .div-flex {
  flex-direction: column;
}

.online-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.online-booking h2 {
  font-family: var(--second-family);
  padding-bottom: 44px;
}

.online-booking .booking-form {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  width: 100%;

  text-transform: uppercase;
}

.online-booking .booking-row {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.booking-form-field {
  position: relative;
  color: rgba(157, 164, 189, 0.4);

  transition: color 250ms ease-in-out;
}

.booking-form-field:focus-within input:placeholder-shown {
  caret-color: transparent;
}

.booking-form-field:focus-within {
  color: var(--light-color-first);
}

.booking-form-field input {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 24px;

  background-color: inherit;
  border: none;
  color: var(--light-color-first);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  cursor: pointer;

  border: 1px solid transparent;
  border-bottom-color: rgba(157, 164, 189, 0.4);

  transition: border-bottom-color 250ms ease-in-out;
}

.booking-form-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  font-size: 11px;
  font-weight: 600px;
  line-height: 14.98px;
  letter-spacing: 0.1em;

  transition: transform 250ms ease-in-out;
}

.booking-form-field:focus-within input {
  outline: 2px solid transparent;
  border-bottom-color: var(--light-color-first);
}

.booking-form-field input:not(:placeholder-shown) + label {
  transform: translateY(-36px);
  color: var(--light-color-first);
}

.booking-form-field textarea {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 76px;
  resize: none;

  background-color: inherit;
  color: var(--light-color-first);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  cursor: pointer;

  border: 1px solid transparent;
  border-bottom-color: rgba(157, 164, 189, 0.4);

  transition: border-bottom-color 250ms ease-in-out;
}

.booking-form-field textarea + label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);

  font-size: 11px;
  font-weight: 600px;
  line-height: 14.98px;
  letter-spacing: 0.1em;

  transition: transform 250ms ease-in-out;
}

.booking-form-field:focus-within textarea {
  outline: 2px solid transparent;
  border-bottom-color: var(--light-color-first);
}

.booking-form-field:focus-within textarea + label {
  transform: translateY(-21px);
  color: var(--light-color-first);
}

.online-booking .btn {
  align-self: center;
  width: 160px;
  margin-bottom: 84px;
  color: var(--light-color-first);
}

.contacts h2 {
  padding-top: 84px;
  align-self: center;
  font-family: var(--second-family);
  padding-bottom: 40px;
}

.contacts address {
  padding-bottom: 44px;
  width: 322px;
}

.contacts .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts li {
  display: flex;
  align-items: center;
}

.contacts .city-street {
  font-weight: 700;
}

.contacts .email {
  text-decoration: underline;
}

.contacts a {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.contacts svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* -------------------- FOOTER ------------------- */

footer .container {
  display: flex;
  padding-top: 56px;
  padding-bottom: 56px;

  font-weight: 600;
  font-size: 11px;
}

footer .container p {
  margin-right: auto;
  letter-spacing: 0.2em;
}

footer .list {
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--dark-color);
}

/* -------------------- MODAL ------------------- */

body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: 1;
  overflow-y: scroll;

  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 50%;
  border-radius: 5px;
  background-color: var(--light-color-first);
  padding: 30px;

  transition: transform 250ms ease-in-out;
}

.modal-btn {
  display: inline-block;
  min-width: 20px;
  height: auto;
  padding: 12px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-16px, 16px);
  border-color: transparent;

  color: var(--dark-color);
  background-color: inherit;
}

.modal-btn svg {
  width: 40px;
  height: 40px;
  fill: var(--medium-color-second);
  cursor: pointer;

  transition: fill 250ms ease-in-out;
}

.modal-btn:is(:hover, :focus) {
  background-color: var(--light-color-first);
}

.modal-btn:is(:hover, :focus) svg {
  fill: var(--accent-color);

  transition: fill 250ms ease-in-out;
}

.is-hidden.backdrop {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.is-hidden.backdrop .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
/* важливе формулювання класів */

/* -------------------- FORM-IN-MODAL ------------------- */

.modal-form {
  display: flex;
  flex-direction: column;
  padding-top: 36px;

  color: var(--dark-color);
  font-size: 14px;
}

.modal-form .btn {
  align-self: center;
  width: 160px;
}

.form-legend {
  margin-bottom: 32px;

  font-size: 28px;
  font-weight: bold;
  line-height: 1.66;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 36px;
}

.form-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: flex;
  gap: 8px;
  align-items: center;
  padding-left: 8px;

  color: var(--medium-color-second);
  transition: color 250ms ease-in-out;
}

.form-field label svg {
  width: 20px;
  height: 20px;
  fill: inherit;

  transition: fill 250ms ease-in-out;
}

.form-field input {
  margin: 0;
  padding: 11px 22px 11px 36px;
  border: 2px dotted var(--medium-color);
  border-radius: 4px;

  font-size: 18px;
  color: inherit;
}

.form-field label span {
  transition: transform 250ms ease-in-out;
}

.form-field:focus-within label span,
.form-field input:not(:placeholder-shown) + label span {
  /* обовʼязково звертатися до сусіда, бо вони на одному рівні. це для того, щоб коли був введений текст label не опускався назад. в верстці для цього зроблений placeholder=" "!!! */
  transform: translateY(-36px);
}

.form-field:focus-within input {
  outline: 2px solid var(--accent-color);
}
/* замінити колір обводки при фокусі */

.form-field:focus-within label {
  color: var(--accent-color);
}

.form-field:focus-within svg {
  fill: var(--accent-color);
}

/* -------------------- FORM-IN-MODAL RADIO ------------------- */

.form-field-radio {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}

.form-field-radio .legend {
  margin-right: 32px;
}

.form-field-radio .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 12px;
}

.form-field-radio li label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.form-field-radio li input {
  display: flex;
  align-items: center;
  justify-content: center;

  appearance: none;
}
/* візуально і з потоку скритий кастомний input, на його місце ставиться svg або афтер, якщо це рамка-квадратик, куди буде вписуватись птім галочка */

.form-field-radio li input::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid var(--medium-color);
}

.form-field-radio span svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: transparent;
  border-radius: 4px;

  transition: fill 250ms ease-in-out;
}

.form-field-radio .text-span {
  padding-left: 6px;
}

.form-field-radio input:checked + span svg {
  fill: var(--accent-color);
}

.form-field-radio input:checked::before {
  border: 2px solid var(--accent-color);
}

/* -------------------- MEDIA ------------------- */

@media screen and (max-width: 340px) {
  .hero-content {
    padding-left: 15px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero h3 {
    font-size: 14x;
  }
}

@media screen and (min-width: 446px) {
  .advantages .list {
    gap: 0;
  }

  .advantages li:nth-child(odd) {
    margin-right: 30px;
  }

  .advantages li:nth-child(even) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
    /* шиирина контенту + падінги */
  }

  .hero-container {
    max-width: 100%;
  }

  .our-barbers .card {
    width: 418px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    /* шиирина контенту + падінги */
  }

  header {
    padding-top: 32px;
  }

  .nav {
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 0;
  }

  .logo {
    z-index: 10;
    margin-right: 58px;
  }
  /* для того, щоб спрацьовував hover доданий індекс. адже лого під боковим меню */

  .logo svg {
    fill: var(--dark-color);
  }

  .btn-menu-burger,
  .mobile-btn-close {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16.34 / 12);
    letter-spacing: 0.1em;
    color: var(--light-color-first);
  }

  .paddings-for-a {
    /* display: inline-block; */
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-menu-first-item:not(:last-child) {
    margin-right: 20px;
  }

  .nav-menu.first {
    margin-right: auto;
  }
  /* не задані пікселі, а автомаичний відступ */

  .nav-menu.second {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    transform: translateY(30%);
  }
  /* рівняла на око */

  /* .nav-menu-second-item {
    margin-bottom: 20px;
  } */

  .hero {
    height: 680px;
  }

  .hero-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-content {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 100px;
  }

  .hero h1 {
    font-size: 72px;
  }

  .hero h3 {
    font-size: 18px;
  }

  .aside-menu {
    display: block;
    position: relative;
    min-width: 100px;
    background-color: transparent;
  }

  .aside-media {
    position: absolute;
    bottom: 40px;
    left: 27px;
    transform-origin: top left;
    transform: rotate(-90deg);
    /* можна робити через flex, тоді теж потрібна міняти місце повороту + translate */

    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.2em;
    color: var(--dark-color);
  }

  .about,
  .services-and-prices,
  .advantages,
  .our-barbers,
  .photos {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about h4 {
    font-size: 18px;
  }

  .about p {
    margin-bottom: auto;
  }

  .about .div-flex {
    gap: 30px;
  }

  .about-photo {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .about-photo,
  .about-content {
    width: calc((100% - 30px) / 2);
  }

  .about-photo li {
    max-width: 100%;
    width: 330px;
    height: 235px;
  }

  .about-photo img {
    object-fit: cover;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }

  .about-content .btn {
    display: block;
    align-self: flex-start;
  }

  .services-and-prices h2 {
    font-size: 42px;
  }

  .services-and-prices p {
    font-size: 18px;
    line-height: 1.66;
  }

  .services-and-prices-pricelist {
    padding: 32px 40px 12px 40px;
    /* враховуючи марджін нижнього рядка 10 */
  }

  .advantages .list {
    align-self: flex-end;
    width: 450px;
  }

  .advantages li {
    width: 210px;
  }

  .advantages .h-reverse,
  .advantages h4 {
    max-width: 500px;
  }

  .our-barbers .container {
    max-width: 480px;
  }

  .our-barbers .card {
    width: 450px;
  }

  .photos .subtitle {
    margin-bottom: 44px;
  }

  .photos-gallery li {
    width: calc((100% - 30px) / 2);
  }

  .prefooter-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: 100% 44%;
  }

  .online-booking {
    align-items: flex-start;
  }

  .online-booking .booking-row {
    flex-direction: row;
  }

  .booking-form-field {
    width: 100%;
  }

  .online-booking .btn {
    align-self: start;
    margin-bottom: 100px;
  }

  .contacts h2 {
    padding-top: 100px;
    align-self: start;
  }

  .contacts address {
    padding-bottom: 0;
    width: 330px;
  }

  .contacts .div-for-contacts {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .our-barbers .container {
    max-width: 1170px;
    /* шиирина контенту + падінги */
  }

  header {
    padding-top: 29px;
  }

  .nav {
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 17px;
  }

  .logo {
    padding-left: 0;
    margin-right: 132px;
  }

  .nav-menu-first-item:not(:last-child) {
    margin-right: 30px;
  }

  .nav-menu.second {
    flex-direction: row;
    justify-content: center;
    gap: 43px;
    transform: translateY(0);
  }

  .nav-menu-second-item {
    margin-bottom: 0;
  }

  .hero-content {
    padding-bottom: 208px;
  }

  .about,
  .services-and-prices,
  .advantages,
  .our-barbers,
  .photos,
  .online-contacts,
  .online-booking-and-contacts {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about h3 {
    font-size: 42px;
  }

  .about-photo {
    flex-direction: row;
  }

  .about-photo li {
    max-width: 100%;
    width: 270px;
    height: 445px;
  }

  .about-photo img {
    width: 270px;
    height: 445px;
    object-fit: fill;
  }

  .services-and-prices-pricelist {
    flex-direction: row;
    gap: 30px;
    padding: 0;
    background: transparent;
  }

  .services-and-prices .list {
    display: block;
    width: calc((100% - 30px) / 2);
    padding: 30px 20px 10px 20px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  .services-and-prices .list.second-list {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }

  .advantages .container {
    width: 1030px;
  }
  /* тре враховуваи padding по 15  */

  .advantages .div-flex {
    flex-direction: row;
    gap: 130px;
  }

  .advantages .list {
    width: 370px;
  }

  .advantages li {
    width: 170px;
  }

  .our-barbers .cards {
    flex-wrap: nowrap;
    gap: 30px;
  }

  .our-barbers .card {
    width: calc((100% - 60px) / 3);
  }

  .photos-gallery {
    row-gap: 20px;
    column-gap: 30px;
  }
  /* якщо один рядок то можна просто justify-content: space between */

  .photos-gallery li {
    width: calc((100% - 90px) / 4);
  }

  .prefooter-section {
    padding-top: 130px;
    padding-bottom: 110px;
    background-position: right;
    background-size: calc(50% - 15px) 100%;
  }

  .prefooter-section .div-flex {
    flex-direction: row;
  }

  .online-booking {
    width: calc(50% + 15px);
    padding-right: 25px;
  }

  .online-booking .btn {
    margin-bottom: 0;
  }

  .contacts.div-flex {
    flex-direction: column;
  }

  .contacts {
    padding-left: 105px;
  }

  .contacts h2 {
    padding-top: 0;
  }

  .contacts .div-for-contacts {
    flex-direction: column;
  }

  .contacts address {
    padding-bottom: 70px;
    width: 270px;
  }
}
